:root {
      /* --- footer --- */
}


.footer__main {
  min-height: 150px;
  padding: 48px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
}

.footer {
  background: var(--color-secondary-lightest);
  border-top: 1px solid var(--color-background-light);
}

.footer__bottom {
  min-height: 52px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background-light);
  color: var(--color-primary);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 700px) {

  .footer__main {
    min-height: 120px;
    padding: 32px 16px;
  }

  .footer__bottom {
    font-size: 10px;
  }
}