

:root {

  /* --- hero --- */

}


.hero {
  width: 100%;
  min-height: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.hero__image {
  position: absolute;
  inset: 0;
  background-image: url('assets/hero/hero-image.jpg');
  background-size: cover;
  background-position: center;
}


.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.42);
}

.hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
  padding: 32px 16px;
}

.hero__copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  margin-top: 42px;
}

.hero__title {
  margin: 0;
  font-family: var(--font-heading);
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.hero__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .hero {
    width: 100%;
    min-height: 322px;
    height: 322px;
  }

  .hero__content {
    min-height: 322px;
    padding: 24px 16px;
  }

  .hero__copy {
    margin-top: 12px;
    gap: 8px;
  }

  .hero__title {
    max-width: 260px;
    font-size: 30px;
    line-height: 32px;
  }

  .hero__subtitle {
    max-width: 270px;
    font-size: 16px;
    line-height: 20px;
  }
}