/* --- Reduced palette used by this landing --- */

:root {
  --color-white: #ffffff;
  --color-white-alpha: #ffffffb8;
  --color-background: #f8f7f8;
  --color-background-light: #e0d9e0;
  --color-border: #d1c7d1;
  --color-border-strong: #a0989f;
  --color-text-muted: #6B7D8D;
  --color-text-muted-alpha: #81778180;
  --color-text-mid: #635a63;
  --color-text: #494149;
  --color-text-dark: #342e34;
  --color-text-strong: #2F222F;
  --color-primary-soft: #cdbccc;
  --color-primary: #622f60;
  --color-primary-dark: #471f45;
  --color-secondary-lightest: #fbf6f4;
  --color-secondary-light: #f4e8e1;
  --color-secondary-soft: #ffe1d1;
  --color-secondary: #ff8f50;
  --color-secondary-dark: #d67843;
  --color-secondary-darker: #b85c28;
  --color-secondary-deep: #8a451e;
  --color-secondary-deep-dark: #4e250e;
  --color-secondary-deepest: #31190c;
}
